# # Help
#
# - Add: git submodule add https://github.com/<user>/<repo> <repo>
# - Update: git submodule update --remote --merge
#
# - Remove:
# https://stackoverflow.com/questions/1260748/how-do-i-remove-a-submodule
#
# ## Resources:
#
# - https://github.blog/open-source/git/working-with-submodules/
# - https://git-scm.com/book/en/v2/Git-Tools-Submodules


[submodule "cursors"]
	path = cursors
	url = https://github.com/catppuccin/cursors
[submodule "ghostty"]
	path = ghostty
	url = https://github.com/danielvartan/ghostty
[submodule "gtk"]
	path = gtk
	url = https://github.com/catppuccin/gtk
[submodule "icons"]
	path = icons
	url = https://github.com/vinceliuice/MacTahoe-icon-theme
[submodule "nvim"]
	path = nvim
	url = https://github.com/danielvartan/nvim
[submodule "starship"]
	path = starship
	url = https://github.com/danielvartan/starship
[submodule "sublime"]
	path = sublime
	url = https://github.com/danielvartan/sublime
[submodule "ulauncher"]
	path = ulauncher
	url = https://github.com/danielvartan/ulauncher
