[Desktop Entry]
Name=NetLogo 7.0.1
Type=Application
Icon=/opt/netlogo-7-0-1/icons/NetLogo.png
Exec=/opt/netlogo-7-0-1/bin/NetLogo %U
Comment=A multi-agent programmable modeling environment.
MimeType=application/x-nlogox;
StartupWMClass=org-nlogo-app-App
